#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro h1 {
	width: 60%;
	min-height: 500px;
	margin: 5% auto 0;
}

#intro .attribution {
	font-weight: bold;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background-color: #fff;
	padding: .5em;
}

section > header.slide > h1 {
  font-size: 250%;
}

.slide p, .slide li {
  font-family: Georgia, serif;
}


#css-controls-demo label {
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio:0) {
/* hack to avoid using the Object element in Safari/WebKit, due to WebKit Bug 27190 */
	object[type="image/svg+xml"] {
		display: none;
	}
	
	#intro h1 {
		background: url(../img/wp-init-logo.png) no-repeat center;
		background-size: 75% auto;
	}
}
