#intro {
	background: rgba(0,0,0,.7) url(../img/intro-bg.png) no-repeat center;
  background-size: 100%;
	padding: 0;
	border: 0;
}

#intro h1 {
  background: url(../img/wp-logo.png) bottom right no-repeat;
	width: 60%;
	min-height: 500px;
	margin: 5% auto 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 180%;
	font-weight: 500;
}

#intro .attribution {
	font-weight: bold;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background-color: #fff;
	padding: .5em;
}

section > header.slide > h1 {
  font-size: 250%;
}

.slide p, .slide li {
  font-family: Georgia, serif;
}


#css-controls-demo label {
	display: block;
}

